/* Styl dla nagłówka */
header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    font-family: Arial, sans-serif;
}

/* Logo */
.logo {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}

/* Nawigacja */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #575757;
}

/* Informacje o użytkowniku */
.user-info {
    font-size: 16px;
}

.user-info span {
    margin-right: 15px;
}

/* Zapewniamy responsywność */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav ul {
        flex-direction: column;
        width: 100%;
        margin-top: 10px;
    }

    nav ul li {
        margin: 5px 0;
    }
}

/* Styl dla formularzy */
input, select, button {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
    width: auto; /* Zmiana z 100% na auto */
    max-width: 300px; /* Maksymalna szerokość dla inputów i przycisków */
    display: inline-block;
}

/* Styl dla przycisków */
button {
    background-color: #008000;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #006400;
}

/* Dodatkowy styl dla formularzy */
form {
    margin-top: 20px;
}

/* Tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

table th {
    background-color: #f4f4f4;
}

/* Styl alertów */
.alert {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

/* Dostosowanie wyglądu na urządzeniach mobilnych */
@media (max-width: 768px) {
    table {
        font-size: 14px;
    }

    table th, table td {
        padding: 8px;
    }
}
